.card-header
{
    /* background-color: #009879; */
    color: white;
    font-weight: bold;
   
}
.tm-label
{
    color: black;
    font-weight: bold;
    vertical-align: top;
}
.tm-label-value
{
    padding-left: 5px;
}
.form-control.is-invalid
{
    border-color: var(--bs-form-invalid-border-color) !important;
}
.bg-info
{
    background-color: #009879 !important;
    color: white !important;
}
.border-primary
{
    border-color: #009879 !important;
}
.flex-row
{
    margin-top: 12px;
}